<!DOCTYPE html>
<html>
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>City of Lyndon</title>
    
     
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Fonts-->
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    
      
    <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
  </head>
  <body ng-app="submitExample">
      
       
        <!-- Navigation -->
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index%20copy.html">cityoflyndon.org</a>
                <span class="lyndonMayor">
                
                </span>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="cityinformation.html">City Information</a>
                    </li>
                    <li>
                        <a href="officials.html">Officials</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
      
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                
                <h2 class="page-header">Report a Problem</h2>
            
            <div class="col-md-6">
                <p>We encourage you to use this form if you would like to report a concern or problem. Your problem is very important to us and we will get back to you as soon as possible. </p> <br>
          
        <div ng-controller="ExampleController">
        <form ng-submit="addEntry()">
            <fieldset class="form-group">
           <label>Name</label><input type="text" class="form-control" ng-model="name" placeholder="Enter name" required>
        
            </fieldset>    
            <fieldset class="form-group">
           <label>Phone</label><input type="tel" class="form-control" ng-model="newData.phone" placeholder="(XXX) XXX-XXXX" required>
            <small class="text-muted">We'll never share your phone number with anyone else.</small>
          </fieldset> 
         <fieldset class="form-group">
             <label>Problem</label><textarea type="text" class="form-control" ng-model="newData.problem" rows="3" required></textarea>
            </fieldset>  
             <fieldset class="form-group">
            <input class="btn btn-primary" id="submit" type="submit" value="submit" ng-click="wak = 1"></input>
            </fieldset> 
            <fieldset class="form-group">
            <h3 ng-show=wak><strong>Thanks, {{ name }}! We have recieved your problem and will get right on it.</strong> </h3>
            </fieldset>
            
        </form>
                
                
        
          
        </div> 
                
  
       </div>
              
              <div class="col-md-6">
                <img class="img-responsive" src="Images/pothole.jpg" alt="">
            </div>
              <br><br>
                 

              </div>
          </div>
      <hr>
          
      </div>
    
    
      

        
      
      
      
      
      
      
      
      
      
      
      
      
      
      
       <div class="container-fluid" class="footer">
            <div class="container">
            <div class="col-sm-4">
            <h4>Here To Help</h4>
            <h5><a id="lynFooterCol2" href="tel:502-423-0932"> Call (502) 423-0932</a><br></h5>
                <h5><a id="lynFooterCol2" href="reportaproblem2.html"> Report A Problem</a></h5>
                <h5><a id="lynFooterCol2" href="sanitationholidayschedule.html">Sanitation Holiday Schedule</a></h5>
                <br>
                
        </div>
            
            <div class="col-sm-4">
            <h4>Quick Links</h4>
            <h5><a id="lynFooterCol1" href="citycalendar.html">City Calendar</a></h5>
            <h5><a id="lynFooterCol1" href="citymap2.html">City Map</a></h5>
            
            <br>
        </div>
            
            <div class="col-sm-4">
            
            <h4>Connect With Us</h4>
            <h5><a id="lynFooterCol3" href="https://www.facebook.com/City-of-Lyndon-201389459890643/?fref=ts">Like us on Facebook</a></h5>
            <h5><a id="lynFooterCol3" href="https://twitter.com/CityOfLyndon">Follow us on Twitter</a></h5>
          <br>  
        </div>
        
    </div>
    </div> 
      
      <div class="container-fluid footer copybottom">
      <div class="container">
      <div class="col-sm-4">
      <small><p class="copywords">&copy; 2016 City Of Lyndon</p></small> 
      </div> 
      </div>
      
      
      
      </div>
      
    
     
    
        
          
    
      
     
    
      
          
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    
  </body>
</html>